header {
    height: 100vh;
    margin-bottom: 0px;
    position: relative;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.99) 10%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0) 95%),url("../images/bannerBG-4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0;
    margin-bottom: 2rem;
}

header li{
    margin: 0 5px;
}

.navbar {
    width: calc(100% - 4rem);
    display: block;
    position: fixed;
    top: 0;
    left: 2rem;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding-top: 1.5rem;
}

@media screen and (min-width: 768px) and (hover: hover) and (pointer: fine) {
    .navbar {
        opacity: 0;
    }
    header:hover .navbar {
        opacity: 1;
    }
}

@media screen and (hover: none) {
    .navbar {
        opacity: 1;
    }
}

header .container-fluid {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    padding: .5rem 2rem;
    display: flex;
}

.hamburger-toggle {
    display: none;
    cursor: pointer;
}

.hamburger-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 10px;
    background-color: #000;
    transition: all 0.4s ease-in-out;
}

.hamburger-toggle.open .bar-1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-toggle.open .bar-2 {
    opacity: 0;
}

.hamburger-toggle.open .bar-3 {
    transform: rotate(-45deg) translate(5.5px, -6px);
}

@media (max-width: 260px) {
    .navbar-title {
        display: none;
    }
}

@media (max-width: 767.9px) {
    .navbar {
        opacity: 1;
        width: 100%;
        left: 0;
        padding-top: 0;
    }
    header .container-fluid {
        padding: .5rem 1rem;
        border-radius: 0rem;
    }
    .hamburger-toggle {
        display: block;
    }
}

@media (max-width: 575.9px) {
    .navbar-brand img {
        width: 25px;
        height: 25px;
    }
    .navbar-brand {
        font-size: 1rem;
    }
    .navbar-nav .nav-link {
        font-size: 0.8rem;
        padding: 0.3rem 0.5rem;
    }

    .hamburger-toggle span {
        width: 20px;
        height: 2px;
    }
    .hamburger-toggle.open .bar-1 {
        transform: rotate(45deg) translate(5px, 4px);
    }
    .hamburger-toggle.open .bar-2 {
        opacity: 0;
    }
    .hamburger-toggle.open .bar-3 {
        transform: rotate(-45deg) translate(5.5px, -5px);
    }
    
    footer .col-sm-6 {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
    footer .col-sm-3 {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
}

footer {
    display: block;
    text-align: center; /* 讓內容置中 */
}

footer .contact-list-item {
    display: inline-block; /* 讓元素以行內塊元素顯示，以便控制大小和間距 */
}

footer .contact-list-item a {
    text-decoration: none; /* 移除超連結的底線 */
    color: #7D6342; /* 繼承父元素的文字顏色 */
}

footer .logo-link {
    display: inline-block;
    transition: transform 0.3s;
}

footer .logo-link:hover {
    transform: scale(1.1);
    transform-origin: center;
}

footer .contact-list-item a i {
    display: inline-block;
    transition: transform 0.3s;
}

footer .fa-brands:hover {
    transform: scale(1.1);
    transform-origin: center;
}

footer .fa-stack {
    display: inline-block;
    margin-left: 3px;
    transition: transform 0.3s;
}

footer .fa-stack:hover {
    transform: scale(1.1);
    transform-origin: center;
}

footer .fa-stack-1x {
    font-size: 20px;
}

footer .fa-stack i {
    vertical-align: middle;
}

@media (min-width: 576px) {
    footer .nav {
        justify-content: end;
    }
}

#page-top {
    display: none;
    position: fixed;
    width: 4em;
    height: 4em;
    bottom: 2.5em;
    right: .1em;
    z-index: 999;
    transition: bottom 0.3s;
}

#page-top:hover {
    bottom: 3em;
}