#intro .jumbotron{
    height: 70vh;
}
.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

header li{
    margin: 0 5px;
}

.navbar {
    width: 100%;
}

.hamburger-toggle {
    display: none;
    cursor: pointer;
}

.hamburger-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 10px;
    background-color: #000;
    transition: all 0.4s ease-in-out;
}

.hamburger-toggle.open .bar-1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-toggle.open .bar-2 {
    opacity: 0;
}

.hamburger-toggle.open .bar-3 {
    transform: rotate(-45deg) translate(5.5px, -6px);
}

@media (max-width: 575.9px) {
    .hamburger-toggle {
        display: block;
    }
}

footer {
    display: block;
    text-align: center; /* 讓內容置中 */
}

footer .contact-list-item {
    display: inline-block; /* 讓元素以行內塊元素顯示，以便控制大小和間距 */
}

footer .contact-list-item a {
    text-decoration: none; /* 移除超連結的底線 */
    color: #7D6342; /* 繼承父元素的文字顏色 */
}

footer .contact-list-item a i {
    display: inline-block;
    transition: transform 0.3s;
}

footer .fa-brands:hover {
    transform: scale(1.1);
    transform-origin: center;
}

footer .fa-stack {
    display: inline-block;
    transition: transform 0.3s;
}

footer .fa-stack:hover {
    transform: scale(1.1);
    transform-origin: center;
}

footer .fa-stack-1x {
    font-size: 20px;
}

footer .fa-stack i {
    vertical-align: middle;
}

#page-top {
    display: none;
    position: fixed;
    width: 4em;
    height: 4em;
    bottom: .4em;
    right: .4em;
    z-index: 999;
    transition: transform 0.3s;
}

#page-top:hover {
    transform: scale(1.1);
    transform-origin: center;
}