#intro .jumbotron{
    height: 70vh;
}
.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

header li{
    margin: 0 10px;
}

.navbar {
    width: 100%;
}

.hamburger-toggle {
    display: none;
    cursor: pointer;
}

.hamburger-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 10px;
    background-color: #000;
    transition: all 0.4s ease-in-out;
}

.hamburger-toggle.open .bar-1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-toggle.open .bar-2 {
    opacity: 0;
}

.hamburger-toggle.open .bar-3 {
    transform: rotate(-45deg) translate(5.5px, -6px);
}

@media (max-width: 575.9px) {
    .hamburger-toggle {
        display: block;
    }
}